<!DOCTYPE html>
<html>
<head>
<!-- HTML Codes by Quackit.com -->
<title>
The Treasure Trove</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {background-color:#cfcece;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
h1{text-align:left;font-family:Helvetica, sans-serif;color:#000000;background-color:#cfcece;}
p {font-family:Georgia, serif;font-size:14px;font-style:normal;font-weight:bold;color:#000000;background-color:#cfcece;}
</style>
</head>
<body>
<h1>Babar's Bungalow</h1>
<p>Bosnian Bingus bombards bastards with beverages</p>

<video autoplay loop>
    <source src="C:\Users\ianve\Desktop\the_exhibit\the_exhibit\important_media\Low Quality Mario Dancing.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

</body>
</html>
